*{

}
.container{
    display: grid;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
    background-color: aquamarine;
  /*  border: 1px solid black */
   
}

.mainbox{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
    height: 75vh;
    width: 75vw;
    grid-gap: 10px;
}
h3{
    
    text-align:left;
  
 } 

.box0{
   
    grid-column-start: 1;
    grid-column-end: 5;
}
.box1{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}
.box6{
    grid-column-start: 1;
    grid-column-end: 3;
}
.box7{
    grid-column-start: 3;
    grid-column-end: 5;
}
.box1{
    background-image: url("kk.jpg");
    background-position: -73px -22px;
}
.box2{
    background-image: url("eeeee2.jpg");
    background-position: -20px -100px;;
}
.box3{
    background-image: url("eeeee2.jpg");
    background-position: -300px -102px;;
}
.box4{
    background-image: url("eeeeee55.jpg");
    background-position: -12px -200px;
}
.box5{
    background-image: url("eeeeee55.jpg");
    background-position: -297px -200px;
}.box6{
    background-image: url("duo.jpg");
    background-position: -112px -5px;
}
.box7{
    background-image: url("eye.jpg");
    background-position: -119px -135px;
}